<div class="padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="./assets/images/bettati.jpeg" class="Bettati" style="width: 500px;">
        </div>
        <div class="col-sm-6 text-center">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
            <h2 style="color: #00E62E;">Acerca de</h2>
            <h5 style="color: #D40BE6;">Me llamo Sofía Belén Bettati, también conocida como "Shadow", soy una Full Stack Developer Jr. que ama cada parte de la informática. Con mis fuertes en reparación de sistemas, tanto hardware como software, decidí aventurarme al mundo de la creatividad por medio de la programación.</h5>
            <br>
            <h5 style="color: #D40BE6;">Actualmente me encuentro estudiando HTML, CSS, JavaScript y TypeScript, entre otros, para ampliar mis conocimientos informáticos, como así también estoy comenzando a inmersionar en el mundo de la robótica.</h5>
        </div>
      </div>
    </div>
  </div>
