<div class="padding">
    <div class="container">
      <div class="text-center">
      <h2 style="color: #00E62E">Estudios</h2>
      <br>
      <br>
      <div class="col-lg-3 col-md-3 col-sm-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="col">
          <div class="card h-100">
            <div class="row">
              <div class="col-3">
                <a href=""><i class="fa-regular fa-pen-to-square"></i></a>
                <a href=""><i class="fa-regular fa-trash-can"></i></a>
                <a href=""><i class="fa-solid fa-plus"></i></a>
              </div>
            </div>
          <img src="./assets/images/colegio2.png" class="card-img-top" alt="escuela">
          <div class="card-body center">
              <h4 class="card-title"><b>Colegio "La Providencia"</b></h4>
              <h5>2006-2019</h5>
              <p class="card-text">En esta escuela estudié tanto primaria como secundaria, orientada a economía.</p>
          </div>
      </div>
    </div>
  </div>
  </div>