<!-- PROYECTOS -->
<div class="padding">
    <div class="container">
    <div class="text-center">
        <h3 style="color: #00E62E">Proyectos</h3>
    </div>
    <br>
    <div class="row">
        <!-- Proyecto 1 -->
        <div class="col">
          <div class="card h-100">
            <div class="row">
              <div class="col-2">
                <a href=""><i class="fa-regular fa-pen-to-square"></i></a>
                <a href=""><i class="fa-regular fa-trash-can"></i></a>
                <a href=""><i class="fa-solid fa-plus"></i></a>
              </div>
            </div>
                <img src="./assets/images/overser.jpg" class="card-img-top" alt="logoOverclockservice">
                <div class="card-body">
                    <h4 class="card-title">Overclock Service</h4>
                    <h5>2020-Actualidad</h5>
                    <p class="card-text">Overclock Service es un proyecto personal de service creado para conseguir la
                        comodidad del cliente y
                        solucionar cada uno de sus problemas tecnológicos en un solo lugar, al menor precio posible.</p>
                </div>
            </div>
        </div>
        <!-- Proyecto 2 -->
        <div class="col">
          <div class="card h-100">
            <div class="row">
              <div class="col-2">
                <a href=""><i class="fa-regular fa-pen-to-square"></i></a>
                <a href=""><i class="fa-regular fa-trash-can"></i></a>
                <a href=""><i class="fa-solid fa-plus"></i></a>
              </div>
            </div>
                <img src="./assets/images/APLogo-20-20.png" class="card-img-top" alt="logoArgPrograma">
                <div class="card-body">
                    <h4 class="card-title">Argentina Programa</h4>
                    <h5>2020-Actualidad</h5>
                    <p class="card-text">Comencé a estudiar en Argentina Programa, actualmente curso #YoProgramo, y uno
                        de
                        mis proyectos es
                        este portafolio.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
