<div class="progressbar"></div>
<div class="scrollPath"></div>
  <div class="header">
    <div class="menu-bar">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="./assets/images/APLogo.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link" href="#">Instagram</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Facebook</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Twitter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="masthead" style="background-image: url('./assets//images/NZzo.gif');">
    <div class="landing-text">
      <h1>Bienvenid@ al portafolio de <b>{{miPorfolio.name}}</b></h1>
      <h3>Conoce mis habilidades y experiencia.</h3>
      <a href="#" class="boton">Hagámoslo</a>
    </div>
  </div>
