<div class="padding">
    <div class="container">
      <div class="text-center">
          <h3 style="color: #00E62E">Experiencia</h3>
          <br>
      </div>
      <div class="row">
          <!-- Experiencia 1 -->
          <div class="col">
              <div class="card h-100">
                <div class="row">
                  <div class="col-2">
                    <a href=""><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href=""><i class="fa-regular fa-trash-can"></i></a>
                    <a href=""><i class="fa-solid fa-plus"></i></a>
                </div>
              </div>
                  <img src="./assets/images/technical-support.png" class="card-img-top" alt="logoTech">
                  <div class="card-body">
                      <h4 class="card-title">Servicio técnico particular.</h4>
                      <h5>2015-2020</h5>
                      <p class="card-text">Me desenvolví como servicio técnico particular instalando PCs, modems, reparando problemas y realizando armados de redes.</p>
              </div>
          </div>
        </div>
          <!-- Experiencia 2 -->
          <div class="col">
            <div class="card h-100">
              <div class="row">
                <div class="col-2">
                  <a href=""><i class="fa-regular fa-pen-to-square"></i></a>
                  <a href=""><i class="fa-regular fa-trash-can"></i></a>
                  <a href=""><i class="fa-solid fa-plus"></i></a>
                </div>
              </div>
                  <img src="./assets/images/distfebriel.jpg" class="card-img-top" alt="distfebriel">
                  <div class="card-body">
                      <h4 class="card-title">Distribuidora Febriel</h4>
                      <h5>2019-2020</h5>
                      <p class="card-text">En esta empresa realicé una página web hecha con WordPress la cual mostraba datos sobre la empresa, donde también fui Comunity Manager.</p>
                  </div>
              </div>
          </div>
          <!-- Experiencia 3 -->
          <div class="col">
            <div class="card h-100">
              <div class="row">
                <div class="col-2">
                  <a href=""><i class="fa-regular fa-pen-to-square"></i></a>
                  <a href=""><i class="fa-regular fa-trash-can"></i></a>
                  <a href=""><i class="fa-solid fa-plus"></i></a>
                </div>
              </div>
                <img src="./assets/images/overclockservice.jpg" class="card-img-top" alt="overclockservice">
                <div class="card-body">
                    <h4 class="card-title">Overclock Service</h4>
                    <h5>2020-Actualidad</h5>
                    <p class="card-text">Overclock Service es un proyecto personal de servicio técnico, el cual consiste de reparación, armado y mantenimiento de PCs y dispositivos electrónicos variados, como también creación de páginas web.</p>
                </div>
            </div>
        </div>
      </div>
    </div>
    </div>
