<div class="progressbar"></div>
<div class="scrollPath"></div>
  <div class="header">
    <div class="menu-bar">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="/src/assets/images/APLogo.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link" href="#">Instagram</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Facebook</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Twitter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="masthead" style="background-image: url('/images/NZzo.gif');">
    <div class="landing-text">
      <h1>Bienvenid@ al portafolio de <b>Betatti Sofía</b></h1>
      <h3>Conoce mis habilidades y experiencia.</h3>
      <a href="#" class="btn btn-default btn-lg">Hagámoslo</a>
    </div>
  </div>
<div class="padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="./images/bettati.jpeg" class="Bettati" style="width: 500px;">
      </div>
      <div class="col-sm-6 text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
          <h2 style="color: #00E62E;">Acerca de</h2>
          <h5 style="color: #D40BE6;">Me llamo Sofía Belén Bettati, también conocida como "Shadow", soy una Full Stack Developer Jr. que ama cada parte de la informática. Con mis fuertes en reparación de sistemas, tanto hardware como software, decidí aventurarme al mundo de la creatividad por medio de la programación.</h5>
          <br>
          <h5 style="color: #D40BE6;">Actualmente me encuentro estudiando HTML, CSS, JavaScript y TypeScript, entre otros, para ampliar mis conocimientos informáticos, como así también estoy comenzando a inmersionar en el mundo de la robótica.</h5>
      </div>
    </div>
  </div>
</div>

<div id="fixed">
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<!-- PROYECTOS -->
<div class="padding">
<div class="container">
  <div class="text-center">
      <h3>Experiencia</h3>
  </div>
  <div class="row">
      <!-- Experiencia 1 -->
      <div class="col">
          <div class="card h-100">
            <div class="row">
              <div class="col-2">
              <a class="edit" href="#"><img src="images/pen-solid.svg" alt="edit" height="25" style="right: 100px;"></a>
            </div>
          </div>
              <img src="images/technical-support.png" class="card-img-top" alt="logoTech">
              <div class="card-body">
                  <h4 class="card-title">Servicio técnico particular.</h4>
                  <h5>2015-2020</h5>
                  <p class="card-text">Me desenvolví como servicio técnico particular instalando PCs, modems, reparando problemas y realizando armados de redes.</p>
          </div>
      </div>
    </div>
      <!-- Experiencia 2 -->
      <div class="col">
          <div class="card h-100">
              <img src="images/distfebriel.jpg" class="card-img-top" alt="distfebriel">
              <div class="card-body">
                  <h4 class="card-title">Distribuidora Febriel</h4>
                  <h5>2019-2020</h5>
                  <p class="card-text">En esta empresa realicé una página web hecha con WordPress la cual mostraba datos sobre la empresa, donde también fui Comunity Manager.</p>
              </div>
          </div>
      </div>
      <!-- Experiencia 3 -->
      <div class="col">
        <div class="card h-100">
            <img src="images/overclockservice.jpg" class="card-img-top" alt="overclockservice">
            <div class="card-body">
                <h4 class="card-title">Overclock Service</h4>
                <h5>2020-Actualidad</h5>
                <p class="card-text">Overclock Service es un proyecto personal de servicio técnico, el cual consiste de reparación, armado y mantenimiento de PCs y dispositivos electrónicos variados, como también creación de páginas web.</p>
            </div>
        </div>
    </div>
  </div>
</div>
</div>

<div class="padding">
  <div class="container">
    <div class="text-center">
    <h2>Estudios</h2>
    <br>
    <br>
  <div class="col-lg-3 col-md-3 col-sm-6 col-sm-6 col-xs-12">
    <div class="card">
        <img src="images/colegio2.png" class="card-img-top" alt="escuela">
        <div class="card-body center">
            <h4 class="card-title"><b>Colegio "La Providencia"</b></h4>
            <h5>2006-2019</h5>
            <p class="card-text">En esta escuela estudié tanto primaria como secundaria, orientada a economía.</p>
        </div>
    </div>
  </div>
</div>


<div class="padding">
<div class="container">
  <div class="text-center">
  <div><h2>Hard and Soft Skills</h2>
    <h3>Hard Skills</h3>
      <div class="progress">
        
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%">HTML 90%</div>
      </div>
      <br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 85%">English 85%</div>
      </div>
      <br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%">CSS 80%</div>
      </div>
      <br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%">JavaScript 60%</div>
      </div>
      <br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 40%">TypeScript 40%</div>
      </div>
    </div>
  </div>
      <div class="text-center">
        <h3>Soft Skills</h3>
        </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%">Leadership 90%</div>
    </div>
    <br>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%">Teamwork 90%</div>
    </div>
    <br>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%">Problem Solving 80%</div>
    </div>
    <br>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">Critical Thinking 75%</div>
    </div>
    <br>
  </div>
</div>
</div>
</div>

<!-- PROYECTOS -->
<div class="padding">
<div class="container">
<div class="text-center">
    <h3>Proyectos</h3>
</div>
<div class="row">
    <!-- Proyecto 1 -->
    <div class="col">
        <div class="card h-100">
            <img src="images/overser.jpg" class="card-img-top" alt="logoOverclockservice">
            <div class="card-body">
                <h4 class="card-title">Overclock Service</h4>
                <h5>2020-Actualidad</h5>
                <p class="card-text">Overclock Service es un proyecto personal de service creado para conseguir la
                    comodidad del cliente y
                    solucionar cada uno de sus problemas tecnológicos en un solo lugar, al menor precio posible.</p>
            </div>
        </div>
    </div>
    <!-- Proyecto 2 -->
    <div class="col">
        <div class="card h-100">
            <img src="images/APLogo-20-20.png" class="card-img-top" alt="logoArgPrograma">
            <div class="card-body">
                <h4 class="card-title">Argentina Programa</h4>
                <h5>2020-Actualidad</h5>
                <p class="card-text">Comencé a estudiar en Argentina Programa, actualmente curso #YoProgramo, y uno
                    de
                    mis proyectos es
                    este portafolio.</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<footer class="bg-dark text-center text-white">
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  © 2022 Copyright: Sofía Belén Bettati. Todos los derechos reservados. </div>
</footer>